
<% @appended_messages.each do |message| %>
	<div class="message-row">
		<div class="showed-message <%= if message.sender_id==current_user.id then 'from-me' else 'from-partner' end%>" style="opacity: 0; margin-top: -30px">
			<%= hidden_field_tag nil ,message.created_at, class: "created-time" %>
			<div class="message-time"><%= message.created_at.strftime("%H:%M - %m/%d/%y") %></div>
			<div class="message-content"><%= message.content %></div>
			<div style="display: none;">
				Sender: <%= message.sender_id %>
				Receiver: <%= message.receiver_id %>
			</div>
		</div>
	</div>
<% end %>