
<% @appended_messages.each do |message| %>
	<div class="showed-message">
		<%= hidden_field_tag nil ,message.created_at.to_s(:db), class: "created-time" %>
		Time: <%= message.created_at %>
		<br/>
		Content: <%= message.content %>
		<br/>
		Sender: <%= message.sender_id %>
		<br/>
		Receiver: <%= message.receiver_id %>
		<br/><br/>
	</div>
<% end %>