<div class="">
  <div class=""><%= link_to "My Profile", profile_path %></div>
  <div class=""><%= link_to "Update Account Information", profile_update_account_info_path %></div>
  <div class=""><%= link_to "My Orders", profile_myorder_path %></div>
  <div class=""><%= link_to "My Contracts", profile_mycontract_path %></div>
  <div class=""><%= link_to "My Requests", profile_myrequest_path %></div>
  <div class=""><%= link_to "My Offers", profile_myoffer_path %></div>
  <div class=""><%= link_to "My Messages", profile_contacts_path %></div>
  <div class=""><%= link_to "My Bookmarks", profile_bookmarks_path %></div>
</div>
