<div class="">
  <div class=""><%= link_to "My Dashboard", dashboard_main_path %></div>
  <div class=""><%= link_to "Update Account Information", dashboard_update_account_info_path %></div>
  <div class=""><%= link_to "My Orders", dashboard_myorder_path %></div>
  <div class=""><%= link_to "My Contracts", dashboard_mycontract_path %></div>
  <div class=""><%= link_to "My Requests", dashboard_myrequest_path %></div>
  <div class=""><%= link_to "My Offers", dashboard_myoffer_path %></div>
  <div class=""><%= link_to "My Messages", dashboard_contacts_path %></div>
  <div class=""><%= link_to "My Bookmarks", dashboard_bookmarks_path %></div>
</div>
