<h1>Dashboard#account_information</h1>
<p>Find me in app/views/dashboard/account_information.html.erb</p>

<div class="">
  <div class=""><%= link_to "Account Information", dashboard_account_information_path %></div>
  <div class=""><%= link_to "My Orders", dashboard_myorder_path %></div>
  <div class=""><%= link_to "My Requests", dashboard_myrequest_path %></div>
  <div class=""><%= link_to "My Offers", dashboard_myoffer_path %></div>
  <div class=""><%= link_to "My Messages", dashboard_messages_path %></div>
  <div class=""><%= link_to "My Bookmarks", dashboard_bookmarks_path %></div>
</div>

<hr>
