<h1>Dashboard#account_information</h1>
<p>Find me in app/views/dashboard/account_information.html.erb</p>

<p> <%= @user.name %> </p>
<p> <%= @user.email %> </p>
<p> <%= @user.phone %> </p>
<p> <%= @user.major %> </p>
<%= render "links" %>
<hr>
