<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Bookmarks</h1>
<p>Below are all your bookmarked posts. Click the image to view the post.</p>

<% if @bookmarks.length == 0 %>
<p><b>You have no bookmarks.</b></p>
<% else %>
<table>
  <tr>
    <th style="padding:30px"> Favorite </th>
    <th style="padding:30px"> Book Image </th>
    <th style="padding:30px"> Book Title </th>
    <th style="padding:30px"> ISBN </th>
    <th style="padding:30px"> Price </th>
    <th style="padding:30px"> Condition </th>
    <th style="padding:30px"> Status </th>
    <th style="padding:30px"> Date Posted </th>
    <th style="padding:30px"> Remove </th>
  </tr>
  <% @bookmarks.each do |bookmark|%>
  <tr>
    <td>
      <% if bookmark.favorite %>
        <i class="fas fa-star" style="color:gold;font-size:36px"></i>
      <% else %>
        <i class="far fa-star" style="color:gold;font-size:36px"></i>
      <% end %>
    </td>
    <td style="padding:30px"><%= link_to (image_tag bookmark.post.book.cover_image unless bookmark.post.book.cover_image.nil?), bookmark.post  %></td>
    <td style="padding:30px"><%= bookmark.post.book.title%></td>
    <td style="padding:30px">
      <%if !bookmark.post.book.ISBN_10.nil?%>
        <%= bookmark.post.book.ISBN_10.to_s %>
      <% elsif !bookmark.post.book.ISBN_13.nil?%>
        <%= bookmark.post.book.ISBN_13.to_s %>
      <% else %>
        <%= "No known ISBN" %>
      <% end %>
    </td>
    <td style="padding:30px"> <%="$ " + bookmark.post.price.to_s%> </td>
    <td style="padding:30px"> <%=bookmark.post.condition%> </td>
    <td style="padding:30px"> <%=bookmark.post.status%> </td>
    <td style="padding:30px"> <%=bookmark.post.updated_at.strftime("%Y-%m-%d")%> </td>
    <td style="padding:30px"> <%= button_to "Remove Bookmark", bookmarks_path + "/#{bookmark.post.id}", method: :delete %> </td>
  <% end %>
</table>
<% end %>

<!-- <script>
  $(document).ready(function(){
    $(".fas").click(function(){

    });
    $(".far").click(function(){

    });
  });
</script> -->
