<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Bookmarks</h1>
<p>Below are all your bookmarked posts. Click the image to view the post. Favorite posts appear at the top of this page. The most recently updated bookmarks appear toward the top.</p>
<br>
<% if @bookmarks.length == 0 %>
  <div style="text-align:center" class="nodata"><h3>You have no bookmarks.</h3></div>
<% else %>
<table class="bookmark_table display">
  <thead>
  <tr>
    <th class="text-center"> Favorite </th>
    <th class="text-center"> Book Image </th>
    <th class="text-center"> Book Title </th>
    <th class="text-center"> ISBN </th>
    <th class="text-center"> Price </th>
    <th class="text-center"> Condition </th>
    <th class="text-center"> Status </th>
    <th class="text-center"> Date Posted </th>
    <th class="text-center"> Remove </th>
  </tr>
</thead>
<tbody>
  <% @bookmarks.each do |bookmark|%>
  <tr>
    <td class="text-center">
      <% if bookmark.favorite %>
        <%= link_to bookmarks_path + "/#{bookmark.id}", method: :put, remote: true do %>
          <i class="fas fa-star" style="color:gold;font-size:36px"></i>
        <% end %>
      <% else %>
        <%= link_to bookmarks_path + "/#{bookmark.id}", method: :put, remote: true do %>
          <i class="far fa-star" style="color:gold;font-size:36px"></i>
        <% end %>
      <% end %>
      <p class="bookmark-id" style="display:none"><%=bookmark.id%></p>
    </td>
    <td class="text-center"><%= link_to (image_tag bookmark.post.book.cover_image unless bookmark.post.book.cover_image.nil?), bookmark.post  %></td>
    <td class="text-center"><%= bookmark.post.book.title%></td>
    <td class="text-center">
      <%if !bookmark.post.book.ISBN_10.nil?%>
        <%= bookmark.post.book.ISBN_10.to_s %>
      <% elsif !bookmark.post.book.ISBN_13.nil?%>
        <%= bookmark.post.book.ISBN_13.to_s %>
      <% else %>
        <%= "No known ISBN" %>
      <% end %>
    </td>
    <td class="text-center"> <%="$ " + bookmark.post.price.to_s%> </td>
    <td class="text-center"> <%=bookmark.post.condition%> </td>
    <td class="text-center"> <%=bookmark.post.status%> </td>
    <td class="text-center"> <%=bookmark.post.updated_at.strftime("%Y-%m-%d")%> </td>
    <td class="text-center"> <%= button_to "Remove Bookmark", bookmarks_path + "/#{bookmark.post.id}", method: :delete, remote: true %> </td>
  <% end %>
</tbody>
</table>
<script>
$(document).ready(function(){
  $(".fas, .far").click(function(){
    $(this).toggleClass("fas").toggleClass("far");
    var call = $.ajax({
      url: "/bookmarks/" + $(this).next().text(),
      data: {authenticity_token: $('meta[name="csrf-token"]').attr('content')},
      method: "PUT",
      dataType: "html"
    });

    call.fail(function(a,b,xhr){
      console.dir(a);
      console.dir(b);
      console.dir(xhr);
    });
    call.done(function(data){
      console.log(data);
    });
  });
  $('.bookmark_table').DataTable();
});
</script>
<% end %>
