<h1>Dashboard#contacts</h1>

<%= form_tag(dashboard_contacts_path, :method=>"get") do %>
	<%= button_tag("Refresh") %>
<% end %>

<div class="">
<h1><%= @msg %></h1>
<% @contacts.each do |contact| %>
	<div>
		Talking With: <%= contact.partner.name %>
		<br />
		Post_id: <%= contact.post_id %>
		<br/>
		Last Talk Time: <%= contact.latest_message_time %>
		<br/>
		<%= form_tag(dashboard_messages_path(), :method=>"get") do %>
			<%= hidden_field_tag(:talk_to, contact.partner_id) %>
			<%= hidden_field_tag(:post_id, contact.post_id) %>
			<%= submit_tag("Talk") %>
		<% end %>
		<br/><br/>
	</div>
<% end %>

</div>