
<%= stylesheet_link_tag "contact_list" %>
<div>
	<div class="header-container">
		<h1>My Conversations</h1>
		<h5>Click on the conversation to chat</h4>
<!-- 		<%= form_tag(dashboard_contacts_path, :method=>"get") do %>
			<%= button_tag "Refresh", :class=>"refresh" %>
		<% end %> -->
	</div>
	<h1><%= @msg %></h1>
	<div class="contacts-container">
		<% @contacts.each do |contact| %>
			<%= form_tag(dashboard_messages_path(), :method=>"get") do %>
			<%= hidden_field_tag(:talk_to, contact.partner_id) %>
			<%= hidden_field_tag(:post_id, contact.post_id) %>
			
			<div class="contact-info">
				
				<a onclick="$(this).closest('form').submit()">
				<div class="contact-info-container">
					<div class="contact-info-content">Conversation With: <%= contact.partner.name %></div>
					<div class="contact-info-content">Book Name: <%= if(contact.book) then contact.book.title else "N/A" end %></div>
					<div class="contact-info-content">Price: $<%= if(contact.post) then contact.post.price else "N/A" end %></div>
					<div class="contact-info-content">Last Message: <%= contact.latest_message_time.strftime("%H:%M (%m/%d/%y)") %></div>
				</div>
				<div class="contact-img-container">
					<%= image_tag("http://via.placeholder.com/120x150", :class=>"contact-img") %>
				</div>
				</a>
					<!-- <div class="contact-info-talk"><%= submit_tag("Talk") %></div> -->
			</div>
		<% end %>
			
	</div>
	<% end %>
</div>