<h1>Dashboard#main</h1>
<p>Find me in app/views/dashboard/main.html.erb</p>

<p> Welcome <%= @user.name %>, to your dashboard.</p>
<p> Your email address is: <%= @user.email %>.</p>
<p> Your phone number is: <%= @user.phone %>.</p>
<p> Your major is: <%= @user.major %>.</p>
<%= render "links" %>
<hr>
