<h1>Account Information</h1>

<h3> <%= @user.name %></h3>
<br/>
<p><strong>E-mail:</strong> <%= @user.email %></p>
<p><strong>Phone:</strong> <%= @user.phone %></p>
<p><strong>Major:</strong> <%= @user.major %></p>
<%= link_to "Update Account Information", profile_update_account_info_url %>
