
<h1>Chat with <%= @talk_to_name %></h1>

<div class="">
<h2><%= @msg %></h2>

<!-- Show all messages -->
<% @messages.each do |message| %>
	<div class="showed-message">
		<%= hidden_field_tag nil ,message.created_at.to_s(:db), class: "created-time" %>
		Time: <%= message.created_at %>
		<br/>
		Content: <%= message.content %>
		<br/>
		Sender: <%= message.sender_id %>
		<br/>
		Receiver: <%= message.receiver_id %>
		<br/><br/>
	</div>
<% end %>

<p><%= @msg2 %></p>

<form>
	<input type="text" name="" id="user-chat-input" placeholder="Enter your message here."/>
	<div id="user-chat-submit">Send</div>
</form>

<script>
	$(document).ready(function(){
		// Refresh the page with Ajax every 5 seconds, append new messages
		var refresh_timer = setInterval(function(){
			if(window.location.pathname!="/profile/messages"){
				clearInterval(refresh_timer)
			}
			$.ajax({
				url: window.location.href+"&last_msg_time="+$('.showed-message').last().find('.created-time').val(),

			}).done(function(data){
				$('.showed-message').last().after(data)
			})
		},5000)

		// Prevent Enter to submit the form
		$('#user-chat-input').keydown(function(event){
			if(event.which==13){
				event.preventDefault();
				$('#user-chat-submit').trigger("click");
			}
		})

		// Submit message using Ajax
		$('#user-chat-submit').click(function(){
			if($('#user-chat-input').val().length>=1){
				// Use ajax to post the message
				$.ajax({
					method: "POST",
					type: "POST",
					url: window.location.href.split('?')[0],
					data:{
						"talk_to": "<%= params[:talk_to]%>",
						"post_id": "<%= params[:post_id]%>",
						"content": $('#user-chat-input').val(),
						"authenticity_token": $('meta[name=csrf-token]').attr('content'),
						"last_msg_time": $('.showed-message').last().find('.created-time').val()
					}
				}).done(function(data){
					$('.showed-message').last().after(data)
					$('#user-chat-input').val("")
					$('#user-chat-input').focus()
				})

			}else{
				$('#user-chat-input').attr("placeholder", "Can't send Blank message.")
			}
		})

	})
</script>

<%= link_to "back to contact", profile_contacts_path %>

</div>
