<div class="login-form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <form class="form-signin">
    <!-- <%= image_tag image_url('6631528842598_.pic.jpg') %> -->
    <img class="mb-4" src="<%= image_url('/6631528842598_.pic.jpg')%>" alt="" width="72" height="72">
    <h1 class="h2 mb-3 font-weight-normal">Sign up</h1>
    <label for="user_email" class="sr-only">Email address</label>
    <input type="email" id="user_email" name="user[email]" autocomplete="email" class="form-control login-form" placeholder="Email address" required autofocus>
    <label for="user_name" class="sr-only">Name</label>
    <input type="text" id="user_name" name="user[name]" class="form-control login-form" placeholder="User Name" required autofocus>
    <label for="user_major" class="sr-only">Major</label>
    <input type="text" id="user_major" name="user[major]" class="form-control login-form" placeholder="Major" required autofocus>

    <label for="user_password" class="sr-only">Password<em> (6 characters minimum)</em></label>
    <input type="password" id="user_password" autocomplete="off" name="user[password]" class="form-control login-form " placeholder="Password (6 characters minimum)" required>
    <label for="user_password" class="sr-only">Please Confirm Password</label>
    <input type="password" id="user_password_confirmation" name="user[password_confirmation]" autocomplete="off"  class="form-control login-form " placeholder="Please Confirm Password" required>
    <button class="btn btn-lg magic-button login-form btn-block" name="commit" value="Sign up" data-disable-with="Sign up" type="submit">Sign up</button>
      <%= render "devise/shared/links" %>
  </form>
  <% end %>


</div>
