<p id="notice"><%= notice %></p>
<h2><%= @msg %></h2>
  <%= @msg2 %>
<%= render "shared/search" %>

<h1>Search Result</h1>
<div class="">
  <% @posts.each do |post| %>
      <%= link_to (image_tag post.book.cover_image unless post.book.cover_image.nil?), post %>
      <h2><%= post.book.title %></h2>
      <div>Type: <%= post.post_type %></div>
      <!-- <div>Course: <%= post.course_number %></div> -->
      <div>condition: <%= post.condition %></div>
      <div>Price: <%= post.price %></div>
      <div>Post Date: <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</div>
      <% if post.post_type=="offer" %>
        <div>Seller: <%= User.find_by(id: post.user_id).name %></div>
      <% else %>
        <div>Buyer: <%= User.find_by(id: post.user_id).name %></div>
      <% end %>
      <!-- <div>Payment Method: <%= post.payment_method %></div> -->
      <div>Description: <%= post.description %></div>
      <div><%= link_to 'More Information', post %></div>
      <hr />
  <% end %>

</div>

<br>
