<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meeting_time %>
    <%= form.datetime_field :meeting_time, min: DateTime.now.strftime("%Y-%m-%d %H:%M")%>
  </div>

  <div class="field">
    <%= form.label :meeting_address_first %>
    <%= form.text_area :meeting_address_first %>
  </div>

  <div class="field">
    <%= form.label :meeting_address_second %>
    <%= form.text_area :meeting_address_second %>
  </div>

  <div class="field">
    <%= form.label :final_payment_method %>
    <%= form.select :final_payment_method, Contract.final_payment_methods.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :final_price %>
    <%= form.text_field :final_price %>
  </div>

  <div class="field">
    <%= form.label :expiration_time %>
    <%= form.datetime_field :expiration_time, min: DateTime.now.strftime("%Y-%m-%d %H:%M") %>
  </div>

  <%= form.hidden_field :post_id %>
  <% post = Post.find(@contract.post_id)%>
  <% if post.post_type == "offer" %>
    <%= form.hidden_field :seller_id, value: post.user_id %>
    <% # If the person who starts this contract is not the person offering the book, then he is the buyer; otherwise, the receiver is the buyer %>
    <% if @sender_id != post.user_id %>
      <%= form.hidden_field :buyer_id, value: @sender_id %>
    <% else %>
      <%= form.hidden_field :buyer_id, value: @receiver_id %>
    <% end %>
  <% elsif post.post_type == "request" %>
    <%= form.hidden_field :buyer_id, value: post.user_id %>

    <% # If the current user is not the person requesting the book, then he is the seller; otherwise, the receiver is the seller %>
    <% if @sender_id != post.user_id %>
      <%= form.hidden_field :seller_id, value: @sender_id %>
    <% else %>
      <%= form.hidden_field :seller_id, value: @receiver_id %>
    <% end %>
  <% end %>
  <%= form.hidden_field :unsigned_user_id, value: @receiver_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
