<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meeting_time %>
    <%= form.datetime_field :meeting_time, min: DateTime.now.strftime("%Y-%m-%d %H:%M")%>
  </div>

  <div class="field">
    <%= form.label :meeting_address_first %>
    <%= form.text_area :meeting_address_first %>
  </div>

  <div class="field">
    <%= form.label :meeting_address_second %>
    <%= form.text_area :meeting_address_second %>
  </div>

  <div class="field">
    <%= form.label :final_payment_method %>
    <%= form.select :final_payment_method, Contract.final_payment_methods.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :final_price %>
    $<%= form.text_field :final_price %>
  </div>

  <div class="field">
    <%= form.label :expiration_time %>
    <%= form.datetime_field :expiration_time, min: DateTime.now.strftime("%Y-%m-%d %H:%M") %>
  </div>

  <% if createdby == "user" %>
    <%= form.hidden_field :post_id %>
    <%= form.hidden_field :seller_id %>
    <%= form.hidden_field :buyer_id %>
    <%= form.hidden_field :unsigned_user_id %>
  <% else %>
    <div class="field">
      <label for="contract_post_id">Post#</label>
      <%= form.collection_select :post_id, Post.where(status: "active"), :id, :id %>
    </div>

    <div class="field">
      <%= form.label :buyer_id %>
      <%= form.collection_select :buyer_id, User.all, :id, :email %>
    </div>

    <div class="field">
      <%= form.label :seller_id %>
      <%= form.collection_select :seller_id, User.all, :id, :email %>
    </div>

    <div class="field">
      <%= form.label :unsigned_user_id %>
      <%= form.collection_select :unsigned_user_id, User.all, :id, :email %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Contract.statuses.keys.to_a %>
    </div>
  <% end %>

	<%= hidden_field_tag :createdby, createdby  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
