<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting time:</strong>
  <%= @contract.meeting_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Meeting address first:</strong>
  <%= @contract.meeting_address_first %>
</p>

<p>
  <strong>Meeting address second:</strong>
  <%= @contract.meeting_address_second %>
</p>

<p>
  <strong>Final method:</strong>
  <%= @contract.final_payment_method %>
</p>

<p>
  <strong>Final price:</strong>
  <%= @contract.final_price %>
</p>

<p>
  <strong>Expiration time:</strong>
  <%= @contract.expiration_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<% if @contract.status == "waiting" && (@contract.buyer_id == current_user.id || @contract.seller_id == current_user.id)%>
  <% if @contract.unsigned_user_id != current_user.id %>
    <div> <%= link_to 'Edit', edit_contract_path(@contract) %> </div>
    <div> <%= link_to 'Delete', @contract, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %> </div>
  <% elsif @contract.unsigned_user_id == current_user.id %>
    <div> <%= link_to "Confirm", contract_path(@contract, contract: {status: :confirmed}), :method => :put, data: { confirm: 'Are you sure you want to confirm?' } %> </div>
    <div> <%= link_to "Decline", contract_path(@contract, contract: {status: :declined}), :method => :put, data: { confirm: 'Are you sure you want to decline?' } %> </div>
  <% end %>
<% end %>
<%= link_to 'Back', contracts_path %>
