<div class="login-form">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <form class="form-signup">
    <!-- <%= image_tag image_url('6631528842598_.pic.jpg') %> -->
    <img class="mb-4" src="<%= image_url('/6631528842598_.pic.jpg')%>" alt="" width="72" height="72">
    <h1 class="h2 mb-3 font-weight-normal">Forgot your password?</h1>
    <label for="user_email" class="sr-only">Email address</label>
    <input type="email" id="user_email" name="user[email]" autocomplete="email" class="form-control login-form" placeholder="Email address" required autofocus>
    <button class="btn btn-lg magic-button login-form btn-block" name="commit" value="Send me reset password instructions" data-disable-with="Send me reset password instructions" type="submit">Send me reset password instructions</button>
  </form>
<% end %>

<%= render "devise/shared/links" %>
</div>
