<!-- These footer links are static. -->
<div class="<%= location %>">
  <div class=""><%= link_to "Home", root_path %></div>
  <div class=""><%= link_to "About OSU Book Exchange", about_path %></div>
  <div class=""><%= link_to "About MAGiC", about_magic_path %></div>
  <div class=""><%= link_to "Contact Us", contact_path %></div>
</div>
