<div class="<%= location %>">
  <div class=""><%= link_to "Home", root_path %></div>
  <div class=""><%= link_to "Posts", posts_path %></div>
  <div class=""><%= link_to "Orders", orders_path %></div>
  <div class=""><%= link_to "Books", books_path %></div>
  <div class=""><%= link_to "Contract", contracts_path %></div>
</div>
