<%= stylesheet_link_tag "search" %>

<%= form_tag(search_path, :method=>"get", :id=>"search-form") do %>

<div class="basic-search">

	<div class="offer-request-container">
		<%= select_tag "search_for", options_for_select(['Title','ISBN'],@search_for), :class=>"search-for" %>

	</div>

	<div class="offer-request-container">
		<%= select_tag "offer_request", options_for_select([['offer and request','both'],['offer only','offer'],['request only','request']],@post_type), :class=>"offer-request" %>
	</div>

	<div class="search-query-container">
		<%= search_field_tag(:query, @search_field || "", :class=>"search-query")  %>
	</div>

	<%= link_to "Search", "",:class=>"submit-button", :onclick=>"$('#search-form').submit()" %>

</div>

<hr/>

<div class="filter">

	<span class="filter-message">Filter: </span>
	<div class="edition-container">
		<% default_editions = [['--edition--',:all]] %>
		<%= select_tag :edition, options_for_select(@editions || default_editions, @edition), :class=>"edition" %>
	</div>

	<div class="condition-container">
		<%= select_tag(:condition, options_for_select(@conditions || [['--condition--',:all],['New'],['Used - Like New'],['Used - Very Good'],['Used - Acceptable'],['Used - poor','Unacceptable']], @condition), :class=>"condition") %>
	</div>
	<%= number_field_tag(:low_price, nil, min: 0, max:2000, class:"price-filter", placeholder:"Lowest Price") %><span class="filter-message"> to </span><%= number_field_tag(:high_price, nil, min: 0, max:2000, class:"price-filter", placeholder:"Highest Price") %>

</div>
<script>
	$(document).ready(function(){
		$("select").niceSelect();
	})
	
</script>
<% end %>