<div class="showOrder">
<% contract = Contract.find(order.contract_id)%>
<% if contract == nil %>
<div class="row">
  <p>
    <strong>Created At:</strong>
    <%= order.created_at.to_formatted_s(:long) %>
  </p>
  <p>Sorry, the contract is deleted.</p>
</div>
<% else %>
<% post = Post.find(contract.post_id)%>
<% book = Book.find(post.book_id)%>



<div class="row">
  <div class="col">
  <strong>Created At:</strong>
  <%= order.created_at.to_formatted_s(:long) %>
  </div>

  <div class="col">
  <strong>Seller:</strong>
  <%= User.find(contract.seller_id).name %>
  </div>

  <div class="col-3">
  <strong>Buyer:</strong>
  <%= User.find(contract.buyer_id).name %>
  </div>
</div>

<br/>
<div class="image"><%= image_tag book.cover_image unless book.cover_image.nil? %></div>
<br/>

<div class="row">
  <div class="col">
    <p>
      <strong>Book Title:</strong>
      <%=link_to book.title, post%>

    </p>

    <p>
      <strong>Edition:</strong>
      <%= post.edition %>
    </p>

    <% if !book.ISBN_10.nil? %>
    <p>
      <strong>ISBN_10:</strong>
      <%= book.ISBN_10 %>
    </p>
    <% end %>

    <% if !book.ISBN_13.nil? %>
    <p>
      <strong>ISBN_13:</strong>
      <%= book.ISBN_13 %>
    </p>
    <% end %>

    <p>
      <strong>Condition:</strong>
      <%= post.condition %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= post.description %>
    </p>

    <p>
      <strong>Course Number:</strong>
      <%= post.course_number %>
    </p>
  </div>

  <div class="col">
    <p>
      <strong>Meeting time:</strong>
      <%= contract.meeting_time.to_formatted_s(:long) %>
    </p>

    <p>
      <strong>Meeting address:</strong>
      <br/><%= contract.meeting_address_first.humanize %>
      <br/><%= contract.meeting_address_second.humanize %>
    </p>

    <p>
      <strong>Payment method:</strong>
      <%= contract.final_payment_method.humanize %>
    </p>

    <p>
      <strong>Price: </strong>
      <%= number_to_currency(contract.final_price) %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= order.status.humanize %>
    </p>
  </div>

  <div class="col col-3">
    <div class="btn-group-vertical">
    <% if current_user.id == contract.buyer_id %>
      <% if order.status == "active" || order.status == "problematic" %>
        <%= link_to "Cancel the Order", order_path(order, order: {status: :canceled}), :method => :put, data: { confirm: 'Are you sure to cancel this order?'}, class: "btn magic-button" %>
        <%= link_to "Order Completed", order_path(order, order: {status: :completed}), :method => :put, data: { confirm: 'Are you sure?' }, class: "btn magic-button" %>
      <% end %>
    <% end %>

    <% if current_user.id == contract.buyer_id %>
        <%= link_to "Message Seller", profile_messages_path(post_id: post.id, talk_to: contract.seller_id), class: "btn magic-button" %>
    <% end %>

    <% if current_user.id == contract.seller_id %>
        <%= link_to "Message Buyer", profile_messages_path(post_id: post.id, talk_to: contract.buyer_id), class: "btn magic-button" %>
    <% end %>

    <!-- The seller/buyer can report problems at any time. -->
    <% if current_user.id == contract.buyer_id || current_user.id == contract.seller_id %>
        <%= link_to "Report Problems", order_path(order, order: {status: :problematic}), :method => :put, data: { confirm: 'Are you sure?' }, class: "btn magic-button" %>
    <% end %>


    <!-- Admin can edit the order. -->
    <% if current_user.has_roles?(:site_admin)%>
     <%= link_to 'Edit', edit_order_path(order), class: "btn magic-button" %>
    <% end %>
  </div>
  </div>
</div>


<% end %>
</div>
