<!-- <%= form_tag(search_book_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Search Books", class: 'form-control' %>
  <span class="input-group-btn">
    <%= submit_tag "Search", class: 'btn btn-default' %>
  </span>
<% end %> -->
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="book_information">
  <div class="field">
    <label for="book_self_link">Find book</label>
    <select title="Enter book name or isbn" class="selectpicker field" data-show-subtext="true" data-live-search="true" name="book[self_link]" id="book_self_link">
    </select>
  </div>
  <div class="actions">
    <input type="submit" name="commit" value="This is the Book!!">
  </div>
  <% end %>

  <div class="book_support_information">
    <% if selected_book %>
    <div class="card">
     <div class="card-header" id="headingOne">
       <h5 class="mb-0">
         <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Collapsible Group Item #1
         </button>
       </h5>
     </div>
     <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
       <div class="card-body">
         <h1><%= selected_book.id %></h1>
           <h1><%= image_tag selected_book.cover_image unless selected_book.cover_image.nil? %></h1>
      </div>
     </div>
     <% end %>
   </div>
  </div>
</div>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <!-- <form id="live-search-form" method="get" action="<%= search_book_path %>">
    <input id="book-search-box" name="q" type="text"/>

  </form> -->
  <!-- <%= form.fields_for :book do |book| %>
    <label for="post_type">Find Book</label>
    <select title="Enter book name or isbn" class="selectpicker field" data-show-subtext="true" data-live-search="true" name="post[book]" id="post_book">
    </select>
  <% end %> -->

  <!-- <div class="field">
    <%= form.label :book %>
    <%= form.text_field :book %>
  </div> -->

  <div class="field">
    <label for="post_type">Post Type</label>
    <select class="form-control" name="post[post_type]" id="post_post_type">
      <option value="offer" selected>Sell this book</option>
      <option value="request">Buy this book</option>
    </select>
    <!-- <%= form.label :post_type %>
    <%= form.text_area :post_type %> -->
  </div>
  <div class="field">
    <%= form.label :course_number %>
    <%= form.text_field :course_number %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>

  <div class="field">
   <label for="post_price">Price</label>
   <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" name="post[price]" id="post_price" class="form-control" aria-label="Amount (to the nearest dollar)">
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>
  </div>


  <div class="field">
    <label for="post_condition">Post Condition</label>
    <select class="form-control" name="post[condition]" id="post_condition">
      <option value="New">New</option>
      <option value="Used - Like New">Used - Like New</option>
      <option value="Used - Very Good">Used - Very Good</option>
      <option value="Used - Good">Used - Good</option>
      <option value="Used - Acceptable">Used - Acceptable</option>
      <option value="Unacceptable">Unacceptable</option>
    </select>
    <!-- <%= form.label :condition %>
    <%= form.text_field :condition %> -->
  </div>

  <div class="field">
    <!-- <%= form.label :payment_method %>
    <%= form.text_area :payment_method %> -->
    <label for="post_condition">Post Condition</label>
    <select class="form-control" name="post[payment_method]" id="post_payment_method">
      <option value="inperson">In Person</option>
      <option value="online">Online</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<!--
  <%= form_with(url: new_image_path, local: true, class: "dropzone", id:"my-awesome-dropzone" )do |f| %>
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %> -->

  <%= form.fields_for :images do |image| %>
  <div class="field">
    <%= image.label :actual_product_image %><br>
    <%= image.file_field :actual_product_image, :multiple => true, name: "images[actual_product_image][]" %>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
