<!-- <%= form_tag(search_book_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Search Books", class: 'form-control' %>
  <span class="input-group-btn">
    <%= submit_tag "Search", class: 'btn btn-default' %>
  </span>
<% end %> -->
<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :ISBN_10 %>
    <%= form.text_area :ISBN_10 %>
  </div>

  <div class="field">
    <%= form.label :ISBN_13 %>
    <%= form.text_area :ISBN_13 %>
  </div>
  <div class="field">
    <%= form.label :edition %>
    <%= form.text_area :edition %>
  </div>

  <div class="field">
    <%= form.label :self_link %>
    <%= form.text_area :self_link %>
  </div>

  <div class="field">
    <%= form.label :cover_image %>
    <%= form.text_area :cover_image %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
