<p id="notice"><%= notice %></p>
<div class="book_show">
<p>
  <%= image_tag @book.cover_image unless @book.cover_image.nil? %>
  <h3 class="book_title"><%= @book.title %></h3>
  <h4 class="book_subtitle"><%= @book.subtitle %></h4>
  <p class="book_authors">By <%= @book.author %> | <%= if @book.publisher then "Published by #{@book.publisher}" end%> </p>
  <p class="book_isbn"><%= if @book.ISBN_13 then "ISBN 13: #{@book.ISBN_13}" end %><%= if @book.ISBN_10 then "ISBN 10: #{@book.ISBN_10}" end %></p>
  <p class="book_edition"><%= if @book.publication_date then "Publicated Date: #{@book.publication_date}  " end %><%= if @book.edition then "Edition: #{@book.edition}th" end%></p>
  <p class="list_price"><%= if @book.edition then " List Price: $#{@book.list_price}" end %></p>
  <p class="book_description"><%= if @book.description then @book.description.html_safe end %></p>
</p>
</div>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', url_for(:back) %>
