<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :book %>
    <%= form.text_field :book %>
  </div>

  <div class="field">
    <%= form.label :post_type %>
    <%= form.text_area :post_type %>
  </div>
  <div class="field">
    <%= form.label :course_number %>
    <%= form.text_field :course_number %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_area :price %>
  </div>
  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="field">
    <%= form.label :payment_method %>
    <%= form.text_area :payment_method %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
<!--
  <%= form_with(url: new_image_path, local: true, class: "dropzone", id:"my-awesome-dropzone" )do |f| %>
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %> -->

  <%= form.fields_for :images do |image| %>
  <div class="field">
    <%= image.label :actual_product_image %><br>
    <%= image.file_field :actual_product_image, :multiple => true, name: "images[actual_product_image][]" %>
  </div>
<% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
