<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="">
  <% @posts.each do |post| %>
      <div>Book: <%= post.book.title %></div>
      <div>Type: <%= post.type %></div>
      <div>Course: <%= post.course_number %></div>
      <div>Price: <%= post.price %></div>
      <div>condition: <%= post.condition %></div>
      <div>Post Date: <%= post.price %></div>
      <div>Payment Method: <%= post.payment_method %></div>
      <div>Description: <%= post.description %></div>
      <!-- <div><%= link_to post.status,  toggle_status_post_path(post) %></div> -->
      <div><%= link_to 'Show', post %></div>
      <div><%= link_to 'Edit', edit_post_path(post) %></div>
      <div><%= link_to 'Delete Post', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
