<div class="post_form">
<h1>Ready to sell your book?</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <%= form.fields_for :book do |f| %>
    <%= render 'book_form', post: @post, book:@book %>
    <% end %>
    <br />
    <div class="field">
      <label for="post_type">Post Type</label>
      <input type="text"  name="post[post_type]" id="post_post_type" class="form-control" placeholder="Price" value="offer" readonly/>

    </div>
    <br />
    <div class="field">
      <div class="input-group mb-3">
        <label for="post_course_number">Course Number(Optional field for textbook)</label>
        <textarea class="form-control" rows="1" id="post_course_number" name="post[course_number]"aria-label="Course Number" aria-describedby="Course Number"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="input-group mb-3">
        <label for="post_edition">Edition(Optional field for textbook)</label>
        <input class="form-control" type="number" step="1" rows="1" id="post_edition" name="post[edition]"aria-label="Edition" aria-describedby="Edition"></textarea>
      </div>
    </div>

    <label for="post_price">Price</label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text"  name="post[price]" id="post_price" class="form-control" placeholder="Price"/>
    </div>
    <br />

    <div class="field">
      <label for="post_condition">Post Condition</label>
      <select class="form-control" name="post[condition]" id="post_condition">
        <option value="New">New</option>
        <option value="Used - Like New">Used - Like New</option>
        <option value="Used - Very Good">Used - Very Good</option>
        <option value="Used - Good">Used - Good</option>
        <option value="Used - Acceptable">Used - Acceptable</option>
        <option value="Unacceptable">Unacceptable</option>
      </select>
    </div>
    <br />
    <div class="field">
      <label for="post_condition">Payment Method</label>
      <select class="form-control" name="post[payment_method]" id="post_payment_method">
        <option value="inperson">In Person</option>
        <option value="online" disabled>Online</option>
      </select>
    </div>
    <br />
    <div class="field">
      <div class="input-group mb-3">
        <label for="post_description">Description (Optional Field)</label>
        <textarea class="form-control" rows="5" id="post_description" name="post[description]"aria-label="Description" aria-describedby="Description"></textarea>
      </div>
    </div>
    <br />
    <%= render 'image_input', post: @post, image: @image, form:form %>
    <br />
    <div class="field">
      <div class="input-group mb-3">
        <label for="post_status">Save or Publish</label>
        <select class="form-control" name="post[status]" id="post_status">
          <option value="draft">Save as a draft</option>
          <option value="active">Publish</option>
        </select>
      </div>
    </div>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
    <% end %>
    </div>
</div>
</div>
