<p id="notice"><%= notice %></p>

<div>Book: <%= @post.book.title %></div>
<div>Type: <%= @post.post_type %></div>
<div>Course: <%= @post.course_number %></div>
<div>Price: <%= @post.price %></div>
<div>condition: <%= @post.condition %></div>
<div>Post Date: <%= @post.price %></div>
<div>Payment Method: <%= @post.payment_method %></div>
<div>Description: <%= @post.description %></div>
<hr>
<div><%= link_to 'Edit', edit_post_path(@post) %></div>
<div><%= link_to 'Back', posts_path %></div>
<% if current_user.id != @post.user_id %></div>
  <div><%= link_to 'Start a Contract', new_contract_path(post_id: @post.id, sender_id: current_user.id, receiver_id: @post.user_id) %></div>
<% end %>
