<p id="notice"><%= notice %></p>
<%= image_tag @post.book.cover_image unless @post.book.nil? %>
<div>Book: <%= @post.book.title unless @post.book.nil? %></div>
<div>Post Date: <%= distance_of_time_in_words(@post.created_at, Time.now) %> ago</div>
<div>Seller: <%= User.find_by(id: @post.user_id).name %></div>

<% if @post.post_type=="offer" %>
  <h2>More Information from Seller</h2>
<% else %>
  <h2>More Information from Buyer</h2>
<% end %>
<div>Course: <%= @post.course_number %></div>
<div>Price: <%= @post.price %></div>
<div>Type: <%= @post.post_type %></div>
<div>Payment Method: <%= @post.payment_method %>  <i class="fas fa-exclamation-circle">Learn more about payment method</i></div>
<div>condition: <%= @post.condition %></div>
<div>Description: <%= @post.description %></div>

<h2>Actual Product Pictures</h2>

<% @images.each do |p| %>
  <%= image_tag p.actual_product_image_url %>
  <%= link_to "Edit Attachment", edit_image_path(p) %>
<% end %>

<div><%= link_to 'Contact Seller', current_user.is_a?(GuestUser)? new_user_session_path : new_message_path(post_id: @post.id) %>
<!--
<% Image.where(post_id: @post.id).each do |image| %>
<%= image_tag image.actual_product_image_url.html_safe %>
<%= link_to "Edit Attachment", edit_image_path(image) %>
<% end %> -->
<% if @post.post_type=="offer" %>
  <%= link_to 'Edit', post_edit_offer_path(@post) if current_user.id==@post.user_id %>
<% else %>
  <%= link_to 'Edit', post_edit_request_path(@post) if current_user.id==@post.user_id %>
<% end %>
<% if @post.status == "active" %>
  <%= link_to 'Start a Contract', current_user.is_a?(GuestUser)? new_user_session_path : new_contract_path(post_id: @post.id, sender_id: current_user.id, receiver_id: @post.user_id) if current_user.id!=@post.user_id%>
<% end %>
<%= (link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.id==@post.user_id %>
<%= link_to 'Back', posts_path %>
</div>
<hr>
