<h3>Contract #<%=contract.id%></h3>
<% post = Post.find(contract.post_id)%>
<% book = Book.find(post.book_id)%>

<strong>Created At:</strong>
<%= contract.created_at.to_formatted_s(:long) %>

<strong>Expiration Time:</strong>
<%= contract.expiration_time.to_formatted_s(:long) %>

<br/>
<strong>Seller:</strong>
<%= User.find(contract.seller_id).name %>

<br/>
<strong>Buyer:</strong>
<%= User.find(contract.buyer_id).name %>

<br/>
  <strong>Book:</strong>
  <%=link_to book.title, post%>

<br/>
  <strong>Condition:</strong>
  <%= post.condition %>

<br/>
  <strong>Description:</strong>
  <%= post.description %>

<br/>
  <strong>Meeting time:</strong>
  <%= contract.meeting_time.to_formatted_s(:long) %>

<br/>
  <strong>Meeting address:</strong>
  <br/><%= contract.meeting_address_first.humanize %>
  <% if contract.meeting_address_second != ""%>
    <br/><%= contract.meeting_address_second.humanize %>
  <%end%>

<br/>
  <strong>Payment method:</strong>
  <%= contract.final_payment_method.humanize %>

<br/>
  <strong>Price: </strong>
  <%= number_to_currency(contract.final_price) %>

<br/>
  <strong>Status:</strong>
  <%= contract.status.humanize %>
