<%= image_tag @image.actual_product_image_url %>
<%= form_for(@image) do |f| %>
  <div class="field">
    <%= f.label :actual_product_image %><br>
    <%= f.file_field :actual_product_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
